<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <h2><a href="http://mrajesh971.github.io">Rajesh Madira</a></h2>
      <header class="info">
        <ul>
          <li><a href="mailto:mrajesh971@gmail.com">email</a> &nbsp</li>
          <li><a href="https://github.com/mrajesh971"><img id="logo" src="/images/GitHub-Mark-32px.png" alt="logo" /></a></li>
          <li><a href="https://www.linkedin.com/in/rajesh-madira/">linkedin</a> &nbsp</li>
          <li><a href="https://www.dropbox.com/s/ogmfnljr4hfp2jw/rajesh_madira.pdf?dl=0">cv</a> &nbsp</li>
        </ul>
      <header>
      <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/Research">Research</a></li>
        <li> <a href="/Projects"> Projects </a> </li>
            <!--<li><a href="/projects">Projects</li !-->
          </ul>
      </nav>
      </br>
      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      </br>

    </body>
  </html>
